.main {
  position: relative;
  padding: 10rem 0 0 0;
  .list {
    align-items: flex-start;
    display: grid;
    gap: 42px;
    grid-template-columns: repeat(auto-fill, 288px);
    justify-content: center;
    list-style: none;
    .item {
      background-color: #fff;
      border-radius: 12px;
      padding: 24px;
      .items {
        img {
          border-radius: 12px;
          object-fit: cover;
          width: 100%;
        }
        .title {
          color: #444;
          font-size: 1.6rem;
          font-weight: 700;
          margin: 24px 0 12px 0;
        }
        .date {
          color: #666;
          font-size: 0.7rem;
          margin: 0 0 24px 0;
        }
        .tag {
          color: #666;
          font-size: 0.8rem;
          display: block;
          background-color: #f5f5f5;
          padding: 4px 8px;
          width: fit-content;
          border-radius: 4px;
          margin: 0 0 12px 0;
        }
        .description {
          color: #666;
          font-size: 1rem;

        }

      }
    }
  }
}

