.outer{
 width: 100%;
 background-color: #666;
 height: 160px; 
 position: absolute;
 bottom: 0;
}

.footerWrap{
  max-width: 800px;
  margin: 0 auto;
  color: #ffffff;
  padding: 24px;

  p{
    font-size: 0.7rem;
    margin-bottom: 10px;
    text-align: center;
  }
}